body {
    margin: 0;
    font-family: 'Segoe UI', sans-serif;
}

/* TOPBAR */
.topbar {
    height: 60px;
    background: #0f172a;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.topbar button {
    background: none;
    border: none;
    color: white;
    font-size: 18px;
}

/* LAYOUT */
.layout {
    display: flex;
}

/* SIDEBAR */
.sidebar {
    width: 250px;
    background: #1e293b;
    height: calc(100vh - 60px);
    position: fixed;
    top: 60px;
    transition: 0.3s;
}

.sidebar ul {
    list-style: none;
    padding: 0;
}

.sidebar li a {
    display: block;
    padding: 15px 20px;
    color: #cbd5f5;
    text-decoration: none;
    transition: 0.3s;
}

.sidebar li a:hover {
    background: #334155;
    color: white;
}

.sidebar li.active a {
    background: #3b82f6;
    color: white;
}

/* CONTENT */
.content {
    margin-left: 250px;
    padding: 25px;
    width: 100%;
    background: #f1f5f9;
    min-height: calc(100vh - 60px);
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .sidebar {
        left: -250px;
    }

    .sidebar.active {
        left: 0;
    }

    .content {
        margin-left: 0;
    }
}