body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

/* NAVBAR */
.custom-navbar {
    background: rgba(0,0,0,0.6);
    backdrop-filter: blur(10px);
}

.nav-link {
    color: white !important;
    transition: 0.3s;
}

.nav-link:hover {
    color: #0d6efd !important;
}

/* HIGHLIGHT BUTTON */
.highlight {
    background: #0d6efd;
    border-radius: 20px;
    padding: 5px 15px !important;
}

.admin-btn {
    color: red !important;
}

/* CONTENT */
.main-content {
    margin-top: 80px;
}

/* FOOTER */
.footer {
    background: #0f172a;
    color: white;
    padding: 40px 0;
}

/* ALERT */
.msg-box {
    margin-top: 100px;
}